/* :host {
    display: block;
    margin: 0.5em;
    border: 1px solid black;
    border-radius: 0.9%;
}
 */
.crop-image {
    height: 300px;
    width: 100%;
    display: block;
    img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        object-position: center;
    }
}
