<p>product-detail works!</p>

<div *ngIf="product">
    <div>
        <img [src]="product.image" alt="Imagen Producto" />
    </div>
    <div>
        <ul>
            <li>Nombre: {{ product.title }}</li>
            <li>Precio: {{ product.price | currency: 'CLP':'symbol-narrow':'':'es-CL' }}</li>
        </ul>
        <p>{{ product.description }}</p>
    </div>

    <button (click)="createProduct()">Crear</button>
    <button (click)="updateProduct()">Actualizar</button>
    <button (click)="deleteProduct()">Eliminar</button>
</div>


