<p>contact works!</p>

<div>
    <form>
        <div>
            <label for="nombre">Nombres</label>
            <input type="text" name="nombre" placeholder="Nombre" />
        </div>
        <div>
            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" placeholder="Apellidos" />
        </div>
        <div>
            <label>Correo</label>
            <input type="text" name="correo" placeholder="Correo" />
        </div>
        <div>
            <label>Mensaje</label>
            <textarea name="mensaje" placeholder="mensaje"></textarea>
        </div>
        
    </form>

</div>